<div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <h3 class="text-muted">Mnemonic-as-a-Service</h3>
    </div>

    <div class="jumbotron">
<h1>Naming things is hard</h1>
      <p class="lead">Generate more codenames to use for releases, projects, offspring...</p>
      <p><a class="btn btn-lg btn-success" href="/api/1" role="button">One Word</a>
      <a class="btn btn-lg btn-success" href="/api/2" role="button">Two Words</a>
      <a class="btn btn-lg btn-success" href="/api/3" role="button">Three Words</a>
      <a class="btn btn-lg btn-success" href="/api/4" role="button">Four Words</a></p>
    </div>
    <div class="row marketing">
        <blockquote>
            <p>There are only two hard things in Computer Science: cache invalidation and naming things.</p>
            <small>Phil Karlton</small>
        </blockquote>
    </div>

    <div class="row marketing">
      <div class="col-lg-6">
        <h4>The wordlist</h4>
        <p>Oren Tirosh created a wordlist of unique, short words that could be used universally for verbally encoding information.  He described it as the mnemonic encoding project and the resulting 1626 words are great for all kinds of things.</p>

        <h4>Json/Curl</h4>
        <p>This service is also available for use in scripts. <pre>curl -L http://mnemonic-as-a-service.com/api/17</pre></p>

      </div>

      <div class="col-lg-6">

    </div>

    <div class="footer">
      <p>&copy; Company 2018</p>
    </div>